@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  display: flex;
  position: relative;
}

.img-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.head-mob {
  display: none;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
nav {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  margin-top: 3rem;
}

.lists ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lists ul li {
  margin-right: 3rem;
  list-style: none;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}

.logo img {
  width: 170px;
  cursor: pointer;
}

.cont-btn {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 2.3rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: #fffffd;
}
.humb {
  display: none;
}
header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: -11rem;
}

.title {
  font-size: 6.7rem;
  font-family: "Fraunces", serif;
  color: white;
  margin-bottom: 4rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -2;
}

.transform,
.stand-out {
  width: 100%;
  display: flex;
}

.trans-mob {
  display: none;
}
.stand-mob {
  display: none;
}
.content {
  margin-left: 10rem;
  margin-top: 10rem;
  font-size: 1.17rem;
  width: 50%;
}

.content h1 {
  font-size: 2.6rem;
  width: 70%;
  margin-bottom: 2rem;
  font-family: "Fraunces", serif;
}

.content-2 {
  margin-left: 6.6rem;
}

.content-2 .disc {
  width: 85%;
  line-height: 30px;
  margin-bottom: 2.2rem;
} /**/

.transform .content .learn,
.content .learn {
  font-size: 1.125rem;
  font-weight: bold;
  margin-left: 0.5rem;
  font-family: "Fraunces", serif;
  text-decoration: underline;
  text-decoration-color: #ffd502;
  text-decoration-thickness: 4px;
  cursor: pointer;
}

.content .learn {
  margin-top: 3rem;
  transition: all 0.3s ease-in-out;
}

.content-2 .learn {
  text-decoration-color: #ff7463;
}

.graphics-mob {
  display: none;
}

.last {
  display: flex;
  justify-self: center;
  align-items: center;
  position: relative;
  margin: auto;
}

.texts {
  position: absolute;
  top: 66%;
  width: 20%;
  text-align: center;
  margin-left: 13%;
  color: #265e53;
}

.texts h1 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-family: "Fraunces", serif;
  margin-left: 14%;
}

.photos-mob {
  display: none;
}

.texts p {
  width: 120%;
  font-size: 1.1rem;
  line-height: 25px;
}

.photos .texts {
  color: #184c60;
}

::-webkit-scrollbar {
  display: none;
}

main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
main h1 {
  font-family: "Fraunces", serif;
  margin-bottom: 4.5rem;
  font-size: 1.8rem;
  color: #aaabad;
}
.testmonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.testmonials div {
  width: 22rem;
  margin-right: 3rem;
}
.pic img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 3.3rem;
}

.testmonials .disc {
  font-size: 1.125rem;
  line-height: 30px;
  font-weight: 600;
  color: #606163;
  margin-bottom: 4.6rem;
}

.testmonials .name {
  font-size: 1.3rem;
  font-family: "Fraunces", serif;
  margin-bottom: 0.6rem;
}

.testmonials .titles {
  color: #606163;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #91d5c5;
  text-align: center;
  position: relative;
}
.slides,
.slides div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides img {
  width: 50%;
}

footer .logo {
  margin: 1.5rem auto;
  margin-left: -2rem;
}

.cont {
  padding: 5rem 0;
}

.cont .list ul {
  display: flex;
  margin: 2rem auto 4rem auto;
}

.cont ul li {
  margin-right: 2rem;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
  color: #2e7565;
}

.socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
}

.socials ul li {
  margin-right: 2rem;
  cursor: pointer;
}

.socials ul li:last-child {
  margin: none;
}

.lst-arr {
  transform: rotate(180deg);
  position: absolute;
  right: 20%;
  top: 78%;
}
